---
import Layout from '@/components/Layout.astro'
import Navbar from '@/components/Navbar.astro'
import Header from '@/components/Header.astro'
import Respositories from '@/components/Respositories.astro'
import Contact from '@/components/Contact.astro'
import Footer from '@/components/Footer.astro'
---

<Layout>
  <Navbar />
  <Header />
  <main class='w-full max-w-container flex flex-col gap-24'>
    <Respositories />
    <Contact />
  </main>
  <Footer />
</Layout>
