---
import Layout from '@/components/Layout.astro'
import Header from '@/components/Header.astro'
import Respositories from '@/components/Respositories.astro'
import Footer from '@/components/Footer.astro'
import { getUserData, getRepositories } from '@/lib/github'

const repositories = await getRepositories()
const user = await getUserData()
---

<Layout {...user}>
  <Header {...user} />
  <main class='w-full max-w-container flex flex-col gap-24'>
    <Respositories repositories={repositories} />
  </main>
  <Footer />
</Layout>
