---
const email = import.meta.env.PUBLIC_EMAIL
---

<section>
  <h2 class='font-bold text-xl mb-6'>Contact me</h2>

  <a
    href={`mailto:${email}`}
    rel='noopener noreferrer'
    target='_blank'
    class='flex items-center gap-8 w-fit border-[1px] py-3 px-6 duration-200 border-dark-gray/60 rounded-lg hover:bg-dark-gray/20 hover:border-gray focus-visible:bg-dark-gray/20 focus-visible:border-gray'
  >
    <div>
      <h3 class='font-bold'>{email}</h3>
      <p class='text-gray text-sm font-medium'>E-mail</p>
    </div>

    <svg
      width='24px'
      height='24px'
      viewBox='0 0 24 24'
      stroke-width='1.5'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
    >
      <path
        d='M21 3L15 3M21 3L12 12M21 3V9'
        stroke='#FFFFFF'
        stroke-width='1.5'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
      </path>
      <path
        d='M21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H11'
        stroke='#FFFFFF'
        stroke-width='1.5'
        stroke-linecap='round'
      >
      </path>
    </svg>
  </a>
</section>
