---
import Cube from '@/components/icons/Cube.astro'
import Menu from '@/components/icons/Menu.astro'
---

<nav class='w-full max-w-container h-20 flex items-center border-b-[1px] border-dark-gray/60'>
  <a class='flex items-center gap-2 font-semibold text-lg' href='/'>
    <Cube /> toastycoder0
  </a>

  <button class='ml-auto'>
    <Menu />
  </button>
</nav>
