---
import Cube from '@/components/icons/Cube.astro'
import Github from './icons/Github.astro'
import { navbar } from '@/data.json'

const { github } = navbar
---

<nav class='w-full max-w-container h-20 flex items-center border-b-[1px] border-dark-gray/60'>
  <a class='flex items-center gap-2 font-semibold text-lg' href='/'>
    <Cube /> toastycoder0
  </a>

  <a
    href={github}
    target='_blank'
    rel='noreferrer noopener'
    class='ml-auto bg-dark-gray/20 p-2 rounded-lg duration-200 hover:bg-dark-gray focus-visible:bg-dark-gray focus-visible:ring-1 focus-visible:ring-offset-1 focus-visible:ring-offset-white'
  >
    <Github />
  </a>
</nav>
